.container {
  text-align: left;
  font-family: serif;
  height: 100%;
}

.box-artikel {
  border-radius: 13px;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 11%);
  box-shadow: 0 0 20px rgb(0 0 0 / 11%);
}

.artikel-terbaru {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  text-align: left;
  font-family: serif;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 30px rgb(0 0 0 / 11%);
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  border-top: 3px solid #2f5061;
}

.artikel-ku {
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: solid 1px #e0e0e0;
}

.text-artikel {
  padding-top: 50px;
}
