.footer {
  background: #2f5061;
}

.bg-bawah {
  padding: 100px 100px;
  padding-bottom: 40px;
  text-align: left;
}

.container-logo-footer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
  color: #dbd4fc;
}

.container-logo-footer h1 {
  font-size: 29px;
}

.container-text-footer {
  margin: 45px 0px !important;
  border-top: 1px solid #3b3844;
  border-bottom: 1px solid #3b3844;
  padding: 45px 0px;
}

.footer-contain {
  font-size: 17px;
  color: #dbd4fc;
}

.footer-contain-text {
  font-size: 14px;
  font-weight: bold;
  color: #dbd4fc;
}

.footer-list-margin {
  margin-top: 20px;
}

.footer-list-margin li {
  margin: 8px 0px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.footer-href-text {
  text-decoration: none;
  color: #dbd4fc;
  font-size: 14px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
}

.footer-keterangan-dinas {
  font-size: 14px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

.footer-margin-left {
  padding-left: 70px;
}

.text-cc {
  text-align: center;
  font-size: 12px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
}

.maps {
  height: 200px;
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;
}
