.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.margin {
  margin-left: 120px;
  margin-right: 120px;
}

html,
body {
  background: #000;
}

#root {
  background: #e8e7ee;
}

.container-margin-top {
  margin-top: 4px;
}

.warna {
  color: black !important;
}

.margin-artikel {
  background-color: antiquewhite;
}

.margin-galeri {
  background: #b3bfd6;
  -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 11%);
  box-shadow: 0 0 20px rgb(0 0 0 / 19%);
}
